.services{
    width: 100%;
    height: 400px;
    background: url("../../img/bg-pages.jpg") no-repeat center;
    background-size: cover;
    margin-top: 78px;
    text-align: center;
    padding-top: 80px;
}

.services h1{
    font-size: 45px;
    color: #FFF;
    font-weight: bold;
}

.services h4{
    font-size: 30px;
    color: #FFF;
    margin-top: 20px;
}


.services-grid{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.services-grid h2{
    font-size: 32px;
}

.list-services{
    margin-top: 30px;
    margin-bottom: 40px;
}

.single-grid p{
    border: 1px solid #000;
}